@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #144F4F;
    --secondary: #42b296;
    --tertiary: #b5d6b5; 
    --background: #f4f5f7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #144F4F;
    --secondary: #42b296;
    --tertiary: #b5d6b5;
    --background: #f4f5f7;
  }
}

@layer base {
  html {
    font-family: "Inria Sans";
  }
  body, html {
    /* Reset body to take all viewport size */
    margin: 0;
    padding: 0;
    height: 100%;  
    color: var(--primary);
    background-color: var(--background);
  }
  /* TO DO : FONT SIZE BASED ON SCREEN SIZE*/ 
  h2 {
    font-weight: 600;
    font-size: x-large;
  }
  body {
    /* Default app Color */ 
    color: var(--primary);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
