@import "react-big-calendar/lib/css/react-big-calendar";

/* TO DO: MIGRATE FROM TAILWIND TO CSS PER COMPONENT*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #144f4f;
    --secondary: #42b296;
    --tertiary: #b5d6b5;
    --gray: #eaeaea;
    --event1: #d6b5b5cc;
    --event2: #b5ced6cc;
    --background: #f4f5f7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #144f4f;
    --secondary: #42b296;
    --tertiary: #b5d6b5;
    --gray: #eaeaea;
    --event1: #d6b5b5cc;
    --event2: #b5ced6cc;
    --background: #f4f5f7;
  }
}

@layer base {
  body,
  html {
    /* Reset body to take all viewport size */
    margin: 0;
    padding: 0;
    height: 100%;
    /* Default app Color */
    color: var(--primary);
    background-color: var(--background);
  }
  /* TO DO : FONT SIZE BASED ON SCREEN SIZE*/
  h1 {
    font-weight: 600;
    font-size: 1.7em;
  }
  h2 {
    font-weight: 600;
    font-size: 1.3em;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
    animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }
}

/**
 * ----------------------------------------
 * Big Calendar
 * ----------------------------------------
 */
.rbc-calendar {
  height: 95% !important;
}
.rbc-current-time-indicator {
  background-color: var(--primary);
}

.rbc-month-view {
  /** remove global border inside the calendar, to remove completly trace of border in calendar header (eg Thuesday, Wednesday...)*/
  border: none;
  border-bottom: 1px solid #dddd;
}
.rbc-month-view .rbc-header + .rbc-header {
  /** remove border inside the calendar header for day (eg Thuesday, Wednesday...) */
  border-left: none;
}
.rbc-month-view .rbc-date-cell {
  /* BCalendarMonthDateHeader background color */
  background-color: var(--background);
}
.rbc-month-row {
  /** compensante removing the global border by putting this */
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.rbc-date-cell + .rbc-date-cell {
  border-left: 1px solid #ddd;
}


/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scale-2x {
  from {
    /* Define the initial state of the element */
    transform: scale(1);
  }
  to {
    /* Define the final state of the element */
    transform: scale(1.2);
  }
}
